extends layout 
 
block content 
    h1(class='container-fluid p-5 bg-primarary text-success text-center', style='background-color:#B233FF')= title
    
    - let id = toShow._id 
    - let Earp_Name = toShow.Earp_Name
    - let Earp_Type = toShow.Earp_Type
    - let Earp_Size = toShow.Earp_Size

    div(class="Container text-center")
        div(class='justify-content p-2 text-center text-dark')
        div.row 
        div(class='p-2 flex-fill EarpodsAttr mr-3') Earpods ID is: 
        div #{id} 
        div.row 
        div(class='p-2 flex-fill EarpodsAttr mr-3') Earpods Name is: 
        div #{Earp_Name} 
        div.row 
        div(class='p-2 flex-fill EarpodsAttr mr-3') Earpods Type is: 
        div #{Earp_Type} 
        div.row 
        div(class='p-2 flex-fill EarpodsAttr mr-3') Earpods Size is: 
        div #{Earp_Size} 