extends layout 
 
block content 
  h1= title 
 
  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let Earpodsid = toShow._id 
    - let Earp_Name = toShow.Earp_Name 
    - let Earp_Size = toShow.Earp_Size 
    - let Earp_Price = toShow.Earp_Price 
    - let actionid = "/resource/Earpods/" + Earpodsid 
    script let actionid = "#{actionid}" 
    div 
      div.row 
        div(class='EarpodsAttr mr-3') Earpods ID is: 
        div #{Earpodsid} 
      div.row 
        div(class='EarpodsAttr mr-3') Earpods Type is: 
        div #{Earp_Name} 
      div.row 
        div(class='EarpodsAttr mr-3') Earpods Size is: 
        div #{Earp_Size} 
      div.row 
        div(class='EarpodsAttr mr-3') Earpods Price is: 
        div #{Earp_Price}
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home page for the Earpods collection 
      window.location.href='/Earpods' 
    } 
  script. 
    function deleteOnid() { 
      console.log("starting delete") 
      // delete first 
      fetch(actionid, { 
        method: 'DELETE'      // Don't need a body for the delete 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        window.location.href='/Earpods' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      }); 
    } 
 